/* 

Styles:     Blankenship

version:    1.0 — 02/02/20 Update
author:     joshua blankenship
email:      joshua@blankenship.xyz
website:    http://blankenship.xyz
          
/* FOUNDATION */

    *, html, body, div, span, object, iframe,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, img, figure, figcaption,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; 
        font-smoothing: antialiased;
        margin: 0;
        padding: 0;
        outline: none;
        }

    @keyframes hello {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    * {
        margin: 0;
        padding: 0;
    }

    hr { display: none; }

    html {
        font-size: 15px;
    }

    body {
        background-color: #1b1464;
        color: #fff;
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0 auto;
    }

/* HEADER */

    header {
        margin: 0 10vw;
        width: 80vw;
        padding: 4rem 6rem;
   }

    h1 {
        font: 400 2.5rem/3rem miller-headline, Georgia, -apple-system-ui-serif, ui-serif, serif; 
        margin-bottom: 3rem;
    }

    h1 em {
        color: #1b1464;
        font: 400 1.6rem/3rem halyard-micro, sans-serif; 
        text-transform: uppercase;
        background-color: rgba(99,99,209,0.8);
        opacity: 1;
        display: inline;
        padding: 0 .5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    h2 {
        color: #6363d1;
        font: 400 1.5rem/2rem miller-headline, Georgia, -apple-system-ui-serif, ui-serif, serif; 
        margin-bottom: 2rem;
        width: 80%;
    }

    h2 em {
        border-bottom: .4rem solid #6363d1;
        font: 200 1.25rem/2rem halyard-micro, sans-serif; 
        text-decoration: none;
        padding-bottom: .2rem;
    }

    header a {
        color: #fcee21;
    }

    header a:hover { 
        color: #fff;  
    }

/* TYPOGRAPHY */


/* SECTION -- GRID */

    section,
    figure {
        margin: 0 auto;
        padding: 0;
    }

    .tres {
        display: grid;
        grid-template-columns: 28vw 28vw 28vw;
        grid-gap: 4vw;
        padding: 4vw 4vw 3vw 4vw;
    }

    img { 
        display: block;
        margin: 0 auto;
        width: 100%;
     }

     header figure img {
        display: block;
        margin: 0 0 3rem;
        width: 7vw;
     }

    .thegrid {
        display: grid;
        grid-template-columns: 33.333333vw 33.333333vw 33.333333vw;
        grid-gap: 0;
        padding: 0;
    }

/* SECTION -- FOOTER */

    
/* WEE SCREENS */

        @media (min-width: 801px) and (max-width: 1000px) {

        }

        @media (min-width: 100px) and (max-width: 800px) {

        .tres{
                display: block;
                margin: 0 auto;
                padding: 0;
            }

        header {
            margin: 5vw;
            width: 90vw;
            padding: 0;
        }

         header figure img {
            margin: 0 0 2rem;
            width: 20vw;
         }

        h1 {
            font: 400 2rem/2.5rem miller-headline, Georgia, -apple-system-ui-serif, ui-serif, serif; 
            margin-bottom: 2.5rem;
        }
    }