/* 

Styles:     Blankenship

version:    1.0 — 02/02/20 Update
author:     joshua blankenship
email:      joshua@blankenship.xyz
website:    http://blankenship.xyz
          
/* FOUNDATION */

    *, html, body, div, span, object, iframe,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, img, figure, figcaption,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; 
        font-smoothing: antialiased;
        margin: 0;
        padding: 0;
        outline: none;
        }

    @keyframes hello {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    * {
        margin: 0;
        padding: 0;
    }

    hr { display: none; }

    html {
        font-size: 15px;
    }

    body {
        background-color: #2e3192;
        color: #393939;
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0 auto;
    }

    a { 
        color: #393939;
        display: inline-block;
        text-decoration: none;
    }

    a:hover { 
        color: silver;  
    }

 .inset {
        padding-right: 4em;
        padding-left: 4em;
    }

/* HEADER */

    header {
        background-color: #1b1464;
        margin: 0 auto;
        padding: 4em 0 6em;
   }

    h1 {
        color: #fff;
        font: 900 2rem/2.5rem monotype-grotesque, helvetica, sans-serif;
        margin-bottom: 2.5rem;
        padding-left: 2.5em;
        max-width: 70%;
    }

    h1 strong {
    	 color: #fcee21;
         font: 700 2rem/2.5rem monotype-grotesque-display-e, helvetica, sans-serif;
         letter-spacing: 2px;
         text-transform: uppercase;
   }

    h2 {
        color: #fcee21;
        font: 400 2rem/2.5rem miller-headline, Georgia, -apple-system-ui-serif, ui-serif, serif; 
        padding-left: 2.5em;
        max-width: 85%;
    }

    header a {
        border-bottom: 2px solid #2e3192;
        color: #fcee21;
        padding-bottom: 2px;
    }

    header a:hover { 
        color: #fff;  
    }

/* TYPOGRAPHY */


/* SECTION -- DEM GRIDS */

    section {
        margin: 0 auto;
    }

    section ul li { display: inline; }

    .dos {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .tres {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 5%;
    }

    .quatro {
        display: grid;
        grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
        grid-gap: 5%;
    }

    figure { padding: 5rem; }
    
    img { 
        display: block;
        margin: 0 auto;
        width: 100%;
     }

    section figcaption { 
        color: #393939;
        margin: 0 auto; 
    }


/* SECTION -- FOOTER */

    
/* WEE SCREENS */

        @media (min-width: 801px) and (max-width: 1000px) {

            .quatro {
                    display: grid;
                    grid-template-columns: 45% 45%;
                    grid-column-gap: 10%;
                }

        }

        @media (min-width: 100px) and (max-width: 800px) {

       

        .tres,
        .quatro {
                display: block;
                margin: 0 auto;
                padding: 0;
            }

        }


#splash {
    background: #393939;
    padding-top: calc(50vh - 5rem);
    }

#splash h1, h3, a {
    color: #d6d7cf;
    text-align: center;
    }