/* 

Styles:     Blankenship

version:    1.0 — 02/02/20 Update
author:     joshua blankenship
email:      joshua@blankenship.xyz
website:    http://blankenship.xyz
          
/* FOUNDATION */

    *, html, body, div, span, object, iframe,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, img, figure, figcaption,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; 
        font-smoothing: antialiased;
        margin: 0;
        padding: 0;
        outline: none;
        }

    @keyframes hello {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    * {
        margin: 0;
        padding: 0;
    }

    hr { display: none; }

    html {
        font-size: 15px;
    }

    body {
        background-color: #2e3192;
        background-color: rgb(240, 240, 240);
        color: #393939;
        color: rgb(45, 45, 45);
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0 auto;
    }

/* HEADER */

    header {
        color: rgb(45, 45, 45);
        margin: 0 auto;
        padding: 4em 0 6em;
   }

    h1 {
        color: #fff;
        font: 400 2.5rem/3rem miller-headline, Georgia, -apple-system-ui-serif, ui-serif, serif; 
        margin-bottom: 3rem;
        padding-left: 10%;
        max-width: 75%;
    }

    h1 strong {
    	 color: #fcee21;
         font: 700 2rem/3rem monotype-grotesque-display-e, helvetica, sans-serif;
         letter-spacing: 2px;
         text-transform: uppercase;
   }

   h1::first-line {
        display: block;
        padding-left: 5%;
   }

    h2 {
         color: #fcee21;
         font: 700 1.5rem/2.25rem monotype-grotesque-display-e, helvetica, sans-serif;
        padding-left: 5%;
         max-width: 75%;
         margin-bottom: 2.25em;
    }

    h2 em {
        color: #fcee21;
        font: 400 italic 1.75rem/2.25rem miller-headline, Georgia, -apple-system-ui-serif, ui-serif, serif; 
    }

    header a {
        color: #fcee21;
    }

    header a:hover { 
        color: #fff;  
    }

/* TYPOGRAPHY */


/* SECTION -- GRID */

    section,
    figure {
        margin: 0 auto;
        padding: 0;
    }

    .tres {
        display: grid;
        grid-template-columns: 28vw 28vw 28vw;
        grid-gap: 4vw;
        padding: 4vw 4vw 3vw 4vw;
    }

    img { 
        display: block;
        margin: 0 auto;
        width: 100%;
     }

     header figure img {
        display: block;
        margin: 0 0 3rem 10%;
        width: 7%;
     }

    .thegrid {
        display: grid;
        grid-template-columns: 33.333333vw 33.333333vw 33.333333vw;
        grid-gap: 0;
        padding: 0;
    }

/* SECTION -- FOOTER */

    
/* WEE SCREENS */

        @media (min-width: 801px) and (max-width: 1000px) {

        }

        @media (min-width: 100px) and (max-width: 800px) {

        .tres{
                display: block;
                margin: 0 auto;
                padding: 0;
            }

        }